<!doctype html>
<html>
    <head>
            <title> Colaboradores </title>
            <meta charset="UTF-8">
            <meta content = "Almoxarifado Automatizado" name="description">
            <link rel="shortcut icon" href="static/logo.png" type="image/png">
            <link  rel="stylesheet" type= "text/css" href= "static/style.css">
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
            <metaname="viewport"content="width=device-width, initial-scale=1">
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

    </head>
    <body>
        <header>
                <nav class="navbar navbar-dark bg-dark" style="height: 60px;">
                        <div class="logo">
                            <a href="/">
                            <img src="static/logo.png" alt="logo1">
                            </a>
                        </div>

                        <div class="name-colab">
                            <h1>COLABORADORES</h1>
                        </div>
                        <div class="row">
                                <ul class="main-nav">
                                    <li><a href="/estoque">  ESTOQUE  </a></li>
                                    <li class = "active"><a href="/login" id="user"> LOGIN  </a></li>
                                </ul>  				
                            </div>
                </nav>
                <div class="main">
                        
                        <div class="header-colab">
                            <div class="menu-box">
                                 <div class="menu-colab"></div>
                            </div>
                        </div>
                    </div>    
        </header>
        
    </body>
</hmtl>
