<!DOCTYPE html>
<html>
    <head>
		<title> Estoque </title>
		<meta charset="UTF-8">
		<meta content = "Almoxarifado Automatizado" name="description">
		<link rel="shortcut icon" href="static/logo.png" type="image/png">
	<link  rel="stylesheet" type= "text/css" href= "static/style.css">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
		<metaname="viewport"content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    </head>
    <body>
        <header>
            <nav class="navbar navbar-dark bg-dark" style="height: 60px;">
				<div class="logo">
					<a href="/">
					<img src="static/logo.png" alt="logo1">
					</a>
				</div>
				<div class="name-estoque"><h1>ESTOQUE</h1></div>
				<div class="row">
						<ul class="main-nav">
							<li><a href="/colaboradores" >  COLABORADORES  </a></li>
							<li class = "active"><a href="/login" id="user"> LOGIN  </a></li>
						</ul>  				
					</div>
			</nav>
			<table class="estoque">
				<tr>
					<th>Código</th>
					<th>Produto</th>
					<th>Quantidade</th>
					<th>Unidade</th>
					<th>Valor R$</th>
					<th>Data de Entrada</th>
					<th>Valor Total R$</th>
				</tr>
				<tr>
					<td>1</td>
					<td>Martelo</td>
					<td>4</td>
					<td>und</td>
					<td>1,25</td>
					<td>14:50:37 23-12-2018</td>
					<td>5</td>
				</tr>
				<tr>
					<td>2</td>
					<td>Chave de fenda</td>
					<td>3</td>
					<td>und</td>
					<td>6,89</td>
					<td>14:50:49 23-12-2018</td>
					<td>20,67</td>
				</tr>
			</table>
        </header>
    </body>
</html>